# Data Quality Accessment

In [1]:
# Loading crime csv to RDD
# Replace with your directory
crime_csv = sc.textFile('file:/Users/zhuorulin/Documents/DataScience/datasets/NYPD_Complaint_Data_Historic.csv',use_unicode=False)

In [35]:
# Convert csv to DataFrame
from csv import reader # Warning: csv.reader does not support unicode decode
from pyspark.sql import SQLContext
from collections import defaultdict
import datetime
import re
import pandas as pd

In [36]:
# Use csv.reader to read raw binary
lines_rdd = crime_csv.mapPartitions(reader)\
.map(lambda line: [x.decode('utf-8') for x in line] )# Decode with utf-8 codec
# store columns values. Also a search table for searching column name using index
schemas = lines_rdd.take(1)[0]
# filter out first row
lines = lines_rdd.filter(lambda x: x!=schemas)

In [253]:
# This dict makes it easier to search for column index using column name
colname2idx = defaultdict()
for idx,colname in enumerate(schemas):
    colname2idx[colname] = idx
# Example
print(colname2idx['CMPLNT_TO_DT'])

3

# Global Null Checking method
We used following null checking procedure to check all columns:
- Check whether the length of string is zero
- Check whether the string is 'nan'

In [246]:
def checkNull(string):
    #Assume Unicode String
    # Step 1: Check for length 0 i.e '' field
    if len(string.strip())==0:
        return 'NULL'
    # Step 2: Check for 'nan'
    elif string=='nan':
        return 'NULL'
    else:
        return 'VALID'

In [254]:
# Example: Check row
NULL_TABLE = lines.map(lambda line:[checkNull(x) for x in line])
df_nullrow = pd.DataFrame()
df_nullrow['sample_row'] = lines.take(1)[0]
df_nullrow['nullity'] = NULL_TABLE.take(1)[0]
print df_nullrow.head(10)

                       sample_row nullity
0                       101109527   VALID
1                      12/31/2015   VALID
2                        23:45:00   VALID
3                                    NULL
4                                    NULL
5                      12/31/2015   VALID
6                             113   VALID
7                         FORGERY   VALID
8                             729   VALID
9  FORGERY,ETC.,UNCLASSIFIED-FELO   VALID

# Date Format Checking Method
Format Reference: http://strftime.org/

We use python datetime module to check whether date column is of the correct date format.

- If a string is of the wrong format datetime.datetime.strptime() raises error.
- If a year is earlier than 2005 we also consider it to be invalid because this table is designed to be the crime statistics from 2005 to 2015

In [25]:
# Example of error
date_format = '%m/%d/%Y'
testdate = '13/09/1992'
testdate = datetime.datetime.strptime(testdate,date_format)

ValueError: time data '13/09/1992' does not match format '%m/%d/%Y'

In [161]:
date_format = '%m/%d/%Y'
time_format = '%H:%M:%S'
# If date is in wrong format it would not be sucessfully converted to datetime object.
def checkDate(line,date_format=date_format):
    if checkNull(line)=='VALID':
        try:
            date = datetime.datetime.strptime(line,date_format)
            if (date.year <=2015)&(date.year>=2005):
                return 'VALID'
            else:
                return 'INVALID'
        except:
            return 'INVALID'
    else:
        return 'NULL'
def checkTime(line,time_format=time_format):
    if checkNull(line)=='VALID':
        try:
            datetime.datetime.strptime(line,time_format)
            return 'VALID'
        except:
            return 'INVALID'
    else:
        return 'NULL'
########################################

In [252]:
checkDate('10/09/1015')

'INVALID'

### Data Quality Issue
We observe over 19000 invalid date from CMPLNT_FR_DT.

In [27]:
# Testing Check Date Method
CMPLNT_FR_DT.countByValue()

defaultdict(int, {'INVALID': 8670, 'VALID': 5092561})

# Regular Expression Checking Method
Regular Expression Reference: https://docs.python.org/2/library/re.html

In [7]:
# Example Checking KY_CD 3-digit code
regex_3_digits = '^\d{3}$'

In [41]:
#Require re package
def checkRegex(line,regex):
    # Input
    # line: a string for check
    # regex: regular expression pattern
    match = re.match(regex,line)
    if match:
        return 'VALID'
    else:
        return 'INVALID'

In [12]:
# Show that it actually work
print checkRegex('1234',regex_3_digits)
print checkRegex('123',regex_3_digits)

INVALID
VALID

# Data validity checking for each columns

# CMPLNT_NUM
- check nullity
- check duplicate

In [193]:
duplicate_check = lines.map(lambda x:x[colname2idx['CMPLNT_NUM']]).map(lambda x: (x,1)).reduceByKey(lambda x,y:x+y)

In [195]:
#No duplication
duplicate_check.filter(lambda x: x[1]>1).collect()

[]

In [211]:
# check nullity
lines.map(lambda x:x[colname2idx['CMPLNT_NUM']]).map(checkNull).countByValue()

defaultdict(int, {'VALID': 5101231})

## Numerical Variables
### Latitude/Longitude
- check Nullity
- check whether string can be converted to float
- check whether latitude and longitude is in the range of new york city. (Latitude in [40.48, 40.9] and Longitude in [-74.3, -73.6]) 

Functions use to check longitude and latitude are stored in utilities.py.

In [255]:
%run ./crime-data-process/code/utilities.py

In [256]:
Latitude = lines.map(lambda x: x[colname2idx['Latitude']])
checkResults_Latitude = Latitude.map(checkLatitude)

In [257]:
checkResults_Latitude.countByValue()

defaultdict(int, {'INVALID': 11251, 'NULL': 188146, 'VALID': 4901834})

In [258]:
Longitude = lines.map(lambda x: x[colname2idx['Longitude']])
checkResults_Longitude = Longitude.map(checkLongitude)
checkResults_Longitude.countByValue()

defaultdict(int, {'NULL': 188146, 'VALID': 4913085})

# X_COORD_CD/Y_COORD_CD

- Check Nullity only

In [251]:
X_COORD_CD = lines.map(lambda x: x[colname2idx['X_COORD_CD']])
X_COORD_CD.map(checkNull).countByValue()

defaultdict(int, {'NULL': 188146, 'VALID': 4913085})

## Date Variables

### CMPLNT_FR_DT, CMPLNT_FR_TM, CMPLNT_TO_DT and CMPLNT_TO_TM
- Check Nullity of from
- Check date format using checkDate() in utilities.py
- Comebine date and time to form two datetime object(from and to) for each row.
- Check whether 'from' is earilier than 'to'

In [28]:
%run ./crime-data-process/code/utilities.py

In [29]:
datetime_format = date_format+' '+time_format
datetime_format

'%m/%d/%Y %H:%M:%S'

In [171]:
alist = [1,2,3,4]
alist[:2] = [0,0]
alist

[0, 0, 3, 4]

In [176]:
# Implementation
# check_CMPLNT_TO check both CMPLNT_TO_DT and CMPLNT_TO_TM at the same time
# It return the validity of both field
def check_FR_TO(from_date,from_time,to_date,to_time,date_format,time_format):
    ###########
    #Null check
    ###########
    individual_checks = [checkDate(from_date),checkTime(from_time),checkDate(to_date),checkTime(to_time)]
    if 'NULL' in individual_checks:
        return individual_checks
#         if 'NULL' in individual_checks[:2]:
#             individual_checks = ['NULL','NULL','NULL','NULL']
#             return individual_checks
#         if 'NULL' in individual_checks[2:4]:
#             return individual_checks
    #Check for invalidity
    #If any field format is invalid return individual check
    elif 'INVALID' in individual_checks:
        return individual_checks
    else:
        #ALL VALID for individual check
        ###Start combining
        #Define datetime format
        datetime_format = date_format+' '+time_format
        from_datetime = datetime.datetime.strptime(from_date+' '+from_time,datetime_format)
        to_datetime = datetime.datetime.strptime(from_date+' '+from_time,datetime_format)
        if from_datetime>to_datetime:
            return ['VALID','VALID','INVALID','INVALID'] 
        else:
            return individual_checks

In [177]:
# Testing
print ','.join(check_FR_TO('10/09/1992','12:00:00','10/09/1991','12:00:00',date_format,time_format))
print check_FR_TO('','','10/09/1991','12:00:00',date_format,time_format)
print check_FR_TO('10/09/1991','12:00:00','','',date_format,time_format)

INVALID,VALID,INVALID,VALID
['NULL', 'NULL', 'INVALID', 'VALID']
['INVALID', 'VALID', 'NULL', 'NULL']

In [178]:
from_to_tuple = lines.map(lambda x:x[1:5])
checkResults_from_to = from_to_tuple.map(lambda x: check_FR_TO(x[0],x[1],x[2],x[3],date_format,time_format))\
.map(lambda x: ','.join(x))

In [179]:
checkResults_from_to.countByValue()

defaultdict(int,
            {'INVALID,INVALID,INVALID,INVALID': 2,
             'INVALID,INVALID,INVALID,VALID': 3,
             'INVALID,INVALID,NULL,NULL': 1,
             'INVALID,INVALID,VALID,INVALID': 5,
             'INVALID,INVALID,VALID,VALID': 8,
             'INVALID,VALID,INVALID,INVALID': 42,
             'INVALID,VALID,INVALID,NULL': 1,
             'INVALID,VALID,INVALID,VALID': 1696,
             'INVALID,VALID,NULL,NULL': 1920,
             'INVALID,VALID,NULL,VALID': 16,
             'INVALID,VALID,VALID,INVALID': 32,
             'INVALID,VALID,VALID,NULL': 2,
             'INVALID,VALID,VALID,VALID': 4287,
             'NULL,INVALID,VALID,VALID': 1,
             'NULL,NULL,NULL,NULL': 1,
             'NULL,VALID,INVALID,INVALID': 1,
             'NULL,VALID,INVALID,VALID': 1,
             'NULL,VALID,NULL,NULL': 137,
             'NULL,VALID,NULL,VALID': 9,
             'NULL,VALID,VALID,INVALID': 2,
             'NULL,VALID,VALID,VALID': 503,
             'VALID,INVALID,NULL,NULL': 260,
             'VALID,INVALID,NULL,VALID': 1,
             'VALID,INVALID,VALID,INVALID': 87,
             'VALID,INVALID,VALID,NULL': 1,
             'VALID,INVALID,VALID,VALID': 534,
             'VALID,NULL,NULL,NULL': 11,
             'VALID,NULL,VALID,VALID': 36,
             'VALID,VALID,INVALID,NULL': 2,
             'VALID,VALID,INVALID,VALID': 3,
             'VALID,VALID,NULL,NULL': 1384940,
             'VALID,VALID,NULL,VALID': 4182,
             'VALID,VALID,VALID,INVALID': 1205,
             'VALID,VALID,VALID,NULL': 509,
             'VALID,VALID,VALID,VALID': 3700790})

### RPD_DT
- Check Nullity
- Check date format using checkDate()

In [40]:
def check_RPD_DT(line):
    if checkNull(line)=='VALID':
        return checkDate(line)
    else:
        return 'NULL'
RPD_DT = lines.map(lambda x:x[colname2idx['RPT_DT']])
checkResults_RPD_DT = RPD_DT.map(lambda x: check_RPD_DT(x))
checkResults_RPD_DT.countByValue()

defaultdict(int, {'VALID': 5101231})

## Categorical Variables

### KY_CD and PD_CD (3 digits codes)
- Check nullity
- Use checkRegex() to check whether it consists of 3-digits only.

In [48]:
def check_KY_CD(line,regex):
    if checkNull(line)=='VALID':
        return checkRegex(line,regex)
    else:
        return 'NULL'
regex_3_digits = '^\d{3}$'

In [49]:
KY_CD = lines.map(lambda x:x[colname2idx['KY_CD']])
PD_CD = lines.map(lambda x:x[colname2idx['PD_CD']])
checkResults_KY_CD = KY_CD.map(lambda x: check_KY_CD(x,regex_3_digits))
checkResults_PD_CD = PD_CD.map(lambda x: check_KY_CD(x,regex_3_digits))

In [50]:
checkResults_KY_CD.countByValue()

defaultdict(int, {'VALID': 5101231})

### OFNS_DESC and PD_DESC (Description of codes)
- Check nullity only

In [52]:
checkResults_OFNS_DESC = lines.map(lambda x: x[colname2idx['OFNS_DESC']]).map(checkNull)
checkResults_OFNS_DESC.countByValue()

defaultdict(int, {'NULL': 18840, 'VALID': 5082391})

In [234]:
checkResults_PD_DESC = lines.map(lambda x: x[colname2idx['PD_DESC']]).map(checkNull)
checkResults_PD_DESC.countByValue()

defaultdict(int, {'NULL': 4574, 'VALID': 5096657})

#### Data Quality Issue
OFNS_DESC should be a one to one map with KY_CD (similarly, PD_DESC and PD_CD) but the situations that one code maps to different description exsists. (Usually minor difference)

Storing replicated descriptions is not wise and consumes unnecessary storage. Instead we should make a table of code-description mapping just as what shown below.

In [90]:
KY_CD_DESC = lines.map(lambda x:x[6]+'/t'+x[7])
KY_CD_count = KY_CD_DESC.countByValue()

In [196]:
KY_CD_count

defaultdict(int,
            {u'101/tMURDER & NON-NEGL. MANSLAUGHTER': 4574,
             u'102/tHOMICIDE-NEGLIGENT-VEHICLE': 93,
             u'103/tHOMICIDE-NEGLIGENT,UNCLASSIFIE': 33,
             u'104/tRAPE': 13791,
             u'105/t': 2,
             u'105/tROBBERY': 198772,
             u'106/t': 55,
             u'106/tFELONY ASSAULT': 184069,
             u'107/t': 1,
             u'107/tBURGLARY': 191406,
             u'109/t': 9,
             u'109/tGRAND LARCENY': 429196,
             u'110/tGRAND LARCENY OF MOTOR VEHICLE': 102061,
             u'111/t': 1,
             u'111/tPOSSESSION OF STOLEN PROPERTY': 9112,
             u'112/t': 6,
             u'112/tTHEFT-FRAUD': 56762,
             u'113/t': 1,
             u'113/tFORGERY': 49303,
             u'114/tARSON': 13984,
             u'115/tPROSTITUTION & RELATED OFFENSES': 122,
             u'116/t': 2,
             u'116/tSEX CRIMES': 10853,
             u'117/t': 4,
             u'117/tDANGEROUS DRUGS': 62679,
             u'118/tDANGEROUS WEAPONS': 50563,
             u'119/tINTOXICATED/IMPAIRED DRIVING': 48,
             u'120/tCHILD ABANDONMENT/NON SUPPORT': 367,
             u'120/tENDAN WELFARE INCOMP': 22,
             u'121/t': 5,
             u'121/tCRIMINAL MISCHIEF & RELATED OF': 72416,
             u'122/tGAMBLING': 122,
             u'123/tABORTION': 4,
             u'124/t': 1,
             u'124/tKIDNAPPING': 2,
             u'124/tKIDNAPPING & RELATED OFFENSES': 2300,
             u'124/tKIDNAPPING AND RELATED OFFENSES': 2,
             u'125/t': 1,
             u'125/tNYS LAWS-UNCLASSIFIED FELONY': 3755,
             u'126/t': 1798,
             u'126/tMISCELLANEOUS PENAL LAW': 110468,
             u'230/t': 1,
             u'230/tJOSTLING': 299,
             u"231/tBURGLAR'S TOOLS": 2477,
             u'232/t': 1,
             u'232/tPOSSESSION OF STOLEN PROPERTY': 20376,
             u'233/t': 13,
             u'233/tSEX CRIMES': 44117,
             u'234/tPROSTITUTION & RELATED OFFENSES': 111,
             u'235/t': 11,
             u'235/tDANGEROUS DRUGS': 285790,
             u'236/t': 8,
             u'236/tDANGEROUS WEAPONS': 73672,
             u'237/t': 1,
             u'237/tESCAPE 3': 167,
             u'238/tFRAUDULENT ACCOSTING': 2645,
             u'340/t': 3,
             u'340/tFRAUDS': 32054,
             u'341/t': 10,
             u'341/tPETIT LARCENY': 822498,
             u'342/tPETIT LARCENY OF MOTOR VEHICLE': 908,
             u'343/t': 2,
             u'343/tOTHER OFFENSES RELATED TO THEF': 9731,
             u'343/tTHEFT OF SERVICES': 2778,
             u'344/t': 73,
             u'344/tASSAULT 3 & RELATED OFFENSES': 521538,
             u'345/tENDAN WELFARE INCOMP': 122,
             u'345/tOFFENSES RELATED TO CHILDREN': 1346,
             u'346/tALCOHOLIC BEVERAGE CONTROL LAW': 750,
             u'347/t': 3,
             u'347/tINTOXICATED & IMPAIRED DRIVING': 73730,
             u'348/t': 2,
             u'348/tVEHICLE AND TRAFFIC LAWS': 59140,
             u'349/tDISRUPTION OF A RELIGIOUS SERV': 47,
             u'350/t': 1,
             u'350/tGAMBLING': 1901,
             u'351/t': 10,
             u'351/tCRIMINAL MISCHIEF & RELATED OF': 433358,
             u'352/t': 5,
             u'352/tCRIMINAL TRESPASS': 66544,
             u'353/tUNAUTHORIZED USE OF A VEHICLE': 13826,
             u'354/tANTICIPATORY OFFENSES': 95,
             u'355/t': 2,
             u'355/tOFFENSES AGAINST THE PERSON': 12339,
             u'356/t': 9,
             u'356/tPROSTITUTION & RELATED OFFENSES': 609,
             u'357/tFORTUNE TELLING': 11,
             u'358/t': 2,
             u'358/tOFFENSES INVOLVING FRAUD': 17737,
             u'359/t': 16,
             u'359/tOFFENSES AGAINST PUBLIC ADMINI': 100118,
             u'360/t': 16041,
             u'360/tLOITERING FOR DRUG PURPOSES': 23,
             u'361/t': 37,
             u'361/tOFF. AGNST PUB ORD SENSBLTY &': 283065,
             u'362/tOFFENSES AGAINST MARRIAGE UNCL': 3,
             u'363/tOFFENSES AGAINST PUBLIC SAFETY': 810,
             u'364/t': 402,
             u'364/tAGRICULTURE & MRKTS LAW-UNCLASSIFIED': 83,
             u'364/tOTHER STATE LAWS (NON PENAL LA': 5505,
             u'364/tOTHER STATE LAWS (NON PENAL LAW)': 4,
             u'365/t': 2,
             u'365/tADMINISTRATIVE CODE': 9937,
             u'366/t': 1,
             u'366/tNEW YORK CITY HEALTH CODE': 44,
             u'455/tUNLAWFUL POSS. WEAP. ON SCHOOL': 59,
             u'460/tLOITERING/DEVIATE SEX': 16,
             u'571/tLOITERING/GAMBLING (CARDS, DIC': 207,
             u'572/tDISORDERLY CONDUCT': 829,
             u'577/tUNDER THE INFLUENCE OF DRUGS': 3,
             u'578/t': 71,
             u'578/tHARRASSMENT 2': 604070,
             u'672/tLOITERING': 20,
             u'675/t': 4,
             u'675/tADMINISTRATIVE CODE': 1446,
             u'676/tNEW YORK CITY HEALTH CODE': 31,
             u'677/tNYS LAWS-UNCLASSIFIED VIOLATION': 6,
             u'677/tOTHER STATE LAWS': 233,
             u'678/t': 223,
             u'678/tMISCELLANEOUS PENAL LAW': 8253,
             u'685/tADMINISTRATIVE CODES': 18,
             u'881/tOTHER TRAFFIC INFRACTION': 13})

In [123]:
# Create new table that maps KY_CD code to unique description
import collections
KY_CD_map = collections.defaultdict()
for key in KY_CD_count.keys():
    pairs = key.split('/t')
    if len(pairs[1])==0:
        continue
    else:
        code = pairs[0]
        description = pairs[1]
        value = KY_CD_count[key]
        if code in KY_CD_map.keys():
            #print('code %s replicate!'%(code))
            if value>KY_CD_map[code]:
                KY_CD_map[code]=description
        else:
            KY_CD_map[code]=description

In [125]:
KY_CD_map_df = pd.DataFrame(KY_CD_map.values(),index=KY_CD_map.keys(),columns=['DESCRIPTION']).sort_index()

In [156]:
# The result dict is one-one
KY_CD_map_df.head()

                         DESCRIPTION
101  MURDER & NON-NEGL. MANSLAUGHTER
102       HOMICIDE-NEGLIGENT-VEHICLE
103   HOMICIDE-NEGLIGENT,UNCLASSIFIE
104                             RAPE
105                          ROBBERY

### CRM_ATPT_CPTD_CD, LAW_CAT_CD,JURIS_DESC,BORO_NM,ADDR_PCT_CD,LOC_OF_OCCUR_DESC
These columns are catogorical variables which only consists of a few cases. Our procedure will:
- Check nullity
- Check whether a line match one of the cases

The functions used to check validities are all stores in utilities.py

In [131]:
CRM_ATPT_CPTD_CD = lines.map(lambda x: x[colname2idx['CRM_ATPT_CPTD_CD']])
#Use the following method to check validity
def checkCaseStatus(line):
    # check the validation of column offense descrption
    if checkNull(line) == 'VALID':
        if (line == 'COMPLETED' or line == 'ATTEMPTED'):
            return 'VALID'
        else:
            return 'INVALID'
    else: 
        return 'NULL'

In [133]:
checkResults_CRM_ATPT_CPTD_CD = CRM_ATPT_CPTD_CD.map(checkCaseStatus)
checkResults_CRM_ATPT_CPTD_CD.countByValue()

defaultdict(int, {'NULL': 7, 'VALID': 5101224})

In [235]:
LAW_CAT_CD = lines.map(lambda x: x[colname2idx['LAW_CAT_CD']])
checkResults_LAW_CAT_CD = LAW_CAT_CD.map(checkLevelOfOffense)
checkResults_LAW_CAT_CD.countByValue()

defaultdict(int, {'VALID': 5101231})

In [240]:
JURIS_DESC = lines.map(lambda x:x[colname2idx['JURIS_DESC']])
JURIS_DESC.countByValue()

defaultdict(int,
            {u'AMTRACK': 153,
             u'CONRAIL': 14,
             u'DEPT OF CORRECTIONS': 4825,
             u'DISTRICT ATTORNEY OFFICE': 1,
             u'FIRE DEPT (FIRE MARSHAL)': 514,
             u'HEALTH & HOSP CORP': 2590,
             u'LONG ISLAND RAILRD': 439,
             u'METRO NORTH': 531,
             u'N.Y. HOUSING POLICE': 390853,
             u'N.Y. POLICE DEPT': 4538344,
             u'N.Y. STATE PARKS': 272,
             u'N.Y. STATE POLICE': 1209,
             u'N.Y. TRANSIT POLICE': 108817,
             u'NEW YORK CITY SHERIFF OFFICE': 134,
             u'NYC DEPT ENVIRONMENTAL PROTECTION': 14,
             u'NYC PARKS': 71,
             u'NYS DEPT ENVIRONMENTAL CONSERVATION': 1,
             u'NYS DEPT TAX AND FINANCE': 77,
             u'OTHER': 13575,
             u'POLICE DEPT NYC': 8986,
             u'PORT AUTHORITY': 24657,
             u'SEA GATE POLICE DEPT': 30,
             u'STATN IS RAPID TRANS': 306,
             u'TRI-BORO BRDG TUNNL': 4633,
             u'U.S. PARK POLICE': 185})

In [242]:
BORO_NM = lines.map(lambda x: x[colname2idx['BORO_NM']])
BORO_NM.countByValue()

defaultdict(int,
            {u'': 463,
             u'BRONX': 1103514,
             u'BROOKLYN': 1526213,
             u'MANHATTAN': 1216249,
             u'QUEENS': 1011002,
             u'STATEN ISLAND': 243790})

In [243]:
ADDR_PCT_CD = lines.map(lambda x: x[colname2iADDR_PCT_CDDR_PCT_CD_PCT_CD'ADDR_PCT_CD']])
ADDR_PCT_CD.countByValue()

defaultdict(int,
            {u'': 390,
             u'1': 61537,
             u'10': 43479,
             u'100': 25879,
             u'101': 41139,
             u'102': 65302,
             u'103': 80404,
             u'104': 75116,
             u'105': 74018,
             u'106': 61495,
             u'107': 53750,
             u'108': 54117,
             u'109': 80169,
             u'110': 68583,
             u'111': 33116,
             u'112': 36889,
             u'113': 87842,
             u'114': 91696,
             u'115': 81493,
             u'120': 109720,
             u'121': 17449,
             u'122': 82693,
             u'123': 34003,
             u'13': 74443,
             u'14': 119415,
             u'17': 32659,
             u'18': 79129,
             u'19': 65983,
             u'20': 40974,
             u'22': 4420,
             u'23': 66693,
             u'24': 50509,
             u'25': 67480,
             u'26': 34275,
             u'28': 53052,
             u'30': 49689,
             u'32': 70599,
             u'33': 45214,
             u'34': 53834,
             u'40': 118896,
             u'41': 70032,
             u'42': 78477,
             u'43': 137771,
             u'44': 127725,
             u'45': 64272,
             u'46': 111356,
             u'47': 90507,
             u'48': 82118,
             u'49': 68574,
             u'5': 44917,
             u'50': 46599,
             u'52': 107178,
             u'6': 54905,
             u'60': 64959,
             u'61': 64665,
             u'62': 61874,
             u'63': 54424,
             u'66': 49609,
             u'67': 94719,
             u'68': 51275,
             u'69': 50126,
             u'7': 40886,
             u'70': 81609,
             u'71': 72089,
             u'72': 54961,
             u'73': 107097,
             u'75': 165479,
             u'76': 28928,
             u'77': 76718,
             u'78': 34725,
             u'79': 81617,
             u'81': 65145,
             u'83': 69104,
             u'84': 51565,
             u'88': 46255,
             u'9': 62165,
             u'90': 65730,
             u'94': 33533})

In [244]:
LOC_OF_OCCUR_DESC = lines.map(lambda x: x[colname2idx['LOC_OF_OCCUR_DESC']])
LOC_OF_OCCUR_DESC.countByValue()

defaultdict(int,
            {u'': 1127128,
             u' ': 213,
             u'FRONT OF': 1189787,
             u'INSIDE': 2527543,
             u'OPPOSITE OF': 140606,
             u'OUTSIDE': 2765,
             u'REAR OF': 113189})

In [245]:
PREM_TYP_DESC = lines.map(lambda x: x[colname2idx['PREM_TYP_DESC']])
PREM_TYP_DESC.countByValue()

defaultdict(int,
            {u'': 33279,
             u'ABANDONED BUILDING': 1891,
             u'AIRPORT TERMINAL': 14315,
             u'ATM': 4267,
             u'BANK': 21252,
             u'BAR/NIGHT CLUB': 57065,
             u'BEAUTY & NAIL SALON': 13027,
             u'BOOK/CARD': 1647,
             u'BRIDGE': 5490,
             u'BUS (NYC TRANSIT)': 10581,
             u'BUS (OTHER)': 2638,
             u'BUS STOP': 4455,
             u'BUS TERMINAL': 3618,
             u'CANDY STORE': 6487,
             u'CEMETERY': 668,
             u'CHAIN STORE': 95079,
             u'CHECK CASHING BUSINESS': 5587,
             u'CHURCH': 9151,
             u'CLOTHING/BOUTIQUE': 42178,
             u'COMMERCIAL BUILDING': 131497,
             u'CONSTRUCTION SITE': 8411,
             u'DEPARTMENT STORE': 96971,
             u'DOCTOR/DENTIST OFFICE': 12253,
             u'DRUG STORE': 37479,
             u'DRY CLEANER/LAUNDRY': 10278,
             u'FACTORY/WAREHOUSE': 5522,
             u'FAST FOOD': 22781,
             u'FERRY/FERRY TERMINAL': 1344,
             u'FOOD SUPERMARKET': 26976,
             u'GAS STATION': 11889,
             u'GROCERY/BODEGA': 56222,
             u'GYM/FITNESS FACILITY': 16002,
             u'HIGHWAY/PARKWAY': 14657,
             u'HOSPITAL': 23594,
             u'HOTEL/MOTEL': 19772,
             u'JEWELRY': 3822,
             u'LIQUOR STORE': 3224,
             u'LOAN COMPANY': 378,
             u'MARINA/PIER': 2162,
             u'MOSQUE': 659,
             u'OPEN AREAS (OPEN LOTS)': 7973,
             u'OTHER': 134762,
             u'OTHER HOUSE OF WORSHIP': 755,
             u'PARK/PLAYGROUND': 60933,
             u'PARKING LOT/GARAGE (PRIVATE)': 29507,
             u'PARKING LOT/GARAGE (PUBLIC)': 29840,
             u'PHOTO/COPY': 718,
             u'PRIVATE/PAROCHIAL SCHOOL': 6239,
             u'PUBLIC BUILDING': 32796,
             u'PUBLIC SCHOOL': 66521,
             u'RESIDENCE - APT. HOUSE': 1054419,
             u'RESIDENCE - PUBLIC HOUSING': 381745,
             u'RESIDENCE-HOUSE': 504402,
             u'RESTAURANT/DINER': 56372,
             u'SHOE': 3600,
             u'SMALL MERCHANT': 21961,
             u'SOCIAL CLUB/POLICY': 3250,
             u'STORAGE FACILITY': 4599,
             u'STORE UNCLASSIFIED': 23687,
             u'STREET': 1697935,
             u'SYNAGOGUE': 1893,
             u'TAXI (LIVERY LICENSED)': 4124,
             u'TAXI (YELLOW LICENSED)': 4749,
             u'TAXI/LIVERY (UNLICENSED)': 899,
             u'TELECOMM. STORE': 6642,
             u'TRAMWAY': 102,
             u'TRANSIT - NYC SUBWAY': 106028,
             u'TRANSIT FACILITY (OTHER)': 4244,
             u'TUNNEL': 2751,
             u'VARIETY STORE': 7267,
             u'VIDEO STORE': 1950})

In [247]:
HADEVELOPT = lines.map(lambda x: x[colname2idx['HADEVELOPT']])
HADEVELOPT.countByValue()

defaultdict(int,
            {u'': 4848026,
             u'1010 EAST 178TH STREET': 1,
             u'1162-1176 WASHINGTON AVENUE': 318,
             u'131 SAINT NICHOLAS AVENUE': 232,
             u'1471 WATSON AVENUE': 224,
             u'303 VERNON AVENUE': 646,
             u'33-35 SARATOGA AVENUE': 365,
             u'344 EAST 28TH STREET': 1,
             u'45 ALLEN STREET': 111,
             u'572 WARREN STREET': 342,
             u'830 AMSTERDAM AVENUE': 432,
             u'ADAMS': 1930,
             u'ALBANY': 2004,
             u'ALBANY II': 1065,
             u'AMSTERDAM': 1095,
             u'ARMSTRONG I': 1395,
             u'ARMSTRONG II': 1538,
             u'ASTORIA': 1564,
             u'ATLANTIC TERMINAL SITE 4B': 657,
             u'AUDUBON': 362,
             u'BAILEY AVENUE-WEST 193RD STREET': 484,
             u'BAISLEY PARK': 337,
             u'BARUCH': 3147,
             u'BARUCH HOUSES ADDITION': 120,
             u'BAY VIEW': 1852,
             u'BAYCHESTER': 31,
             u'BAYSIDE-OCEAN BAY APTS': 1256,
             u'BEACH 41ST STREET-BEACH CHANNEL DRIVE': 523,
             u'BEDFORD-STUYVESANT REHAB': 191,
             u'BELMONT-SUTTER AREA': 231,
             u'BERRY': 789,
             u'BERRY STREET-SOUTH 9TH STREET': 147,
             u'BETANCES I': 615,
             u'BETANCES III': 55,
             u'BETANCES VI': 17,
             u'BETHUNE GARDENS': 86,
             u'BLAND': 594,
             u'BORINQUEN PLAZA I': 1603,
             u'BORINQUEN PLAZA II': 1305,
             u'BOSTON ROAD PLAZA': 92,
             u'BOSTON SECOR': 1208,
             u'BOULEVARD': 2821,
             u'BOYNTON AVENUE REHAB': 257,
             u'BREUKELEN': 662,
             u'BREVOORT': 1938,
             u'BRONX RIVER': 1904,
             u'BRONX RIVER ADDITION': 99,
             u'BRONXCHESTER': 1,
             u'BRONXDALE': 3485,
             u'BROWN': 12,
             u'BROWNSVILLE': 3579,
             u'BRYANT AVENUE-EAST 174TH STREET': 83,
             u'BUSHWICK': 3052,
             u'BUSHWICK II (GROUPS A & C)': 537,
             u'BUSHWICK II (GROUPS B & D)': 579,
             u'BUSHWICK II CDA (GROUP E)': 307,
             u'BUTLER': 3960,
             u'CAMPOS PLAZA I': 311,
             u'CAREY GARDENS': 11,
             u'CARLETON MANOR': 402,
             u'CARVER': 503,
             u'CASSIDY-LAFAYETTE': 134,
             u'CASTLE HILL': 5495,
             u'CLAREMONT PARKWAY-FRANKLIN AVENUE': 187,
             u'CLAREMONT REHAB (GROUP 2)': 494,
             u'CLAREMONT REHAB (GROUP 3)': 219,
             u'CLAREMONT REHAB (GROUP 4)': 357,
             u'CLAREMONT REHAB (GROUP 5)': 400,
             u'CLASON POINT GARDENS': 943,
             u'CLINTON': 2100,
             u'COLLEGE AVENUE-EAST 165TH STREET': 125,
             u'CONEY ISLAND': 716,
             u'CONEY ISLAND I (SITE 1B)': 848,
             u'COOPER PARK': 1473,
             u'CROWN HEIGHTS': 209,
             u'CYPRESS HILLS': 2998,
             u'DAVIDSON': 673,
             u'DE HOSTOS APARTMENTS': 11,
             u'DOUGLASS': 3749,
             u'DOUGLASS ADDITION': 500,
             u'DYCKMAN': 599,
             u'EAGLE AVENUE-EAST 163RD STREET': 251,
             u'EAST 165TH STREET-BRYANT AVENUE': 111,
             u'EAST 173RD STREET-VYSE AVENUE': 459,
             u'EAST 180TH STREET-MONTEREY AVENUE': 271,
             u'EAST NEW YORK CITY LINE': 217,
             u'EASTCHESTER GARDENS': 1580,
             u'EDENWALD': 752,
             u'FARRAGUT': 3673,
             u'FENIMORE-LEFFERTS': 102,
             u'FIORENTINO PLAZA': 763,
             u'FIRST HOUSES': 32,
             u'FOREST': 1094,
             u'FOREST HILLS COOP (108TH STREET-62ND DRIVE)': 1,
             u'FORT INDEPENDENCE STREET-HEATH AVENUE': 853,
             u'FORT WASHINGTON AVENUE REHAB': 116,
             u'FRANKLIN AVENUE I CONVENTIONAL': 69,
             u'FRANKLIN AVENUE I MHOP': 28,
             u'FRANKLIN AVENUE II CONVENTIONAL': 64,
             u'FRANKLIN AVENUE II MHOP': 2,
             u'FRANKLIN AVENUE III CONVENTIONAL': 22,
             u'FRANKLIN AVENUE III MHOP': 1,
             u'FULTON': 2,
             u'GARVEY (GROUP A)': 1007,
             u'GLEBE AVENUE-WESTCHESTER AVENUE': 89,
             u'GLENMORE PLAZA': 20,
             u'GLENWOOD': 1568,
             u'GOMPERS': 1093,
             u'GOWANUS': 2158,
             u'GRAMPION': 162,
             u'GRANT': 3886,
             u'GRAVESEND': 253,
             u'GUN HILL': 810,
             u'HABER': 5,
             u'HAMMEL': 1276,
             u'HARLEM RIVER': 241,
             u'HARRISON AVENUE REHAB (GROUP A)': 39,
             u'HARRISON AVENUE REHAB (GROUP B)': 223,
             u'HERNANDEZ': 219,
             u'HIGHBRIDGE GARDENS': 1459,
             u'HIGHBRIDGE REHABS (ANDERSON AVENUE)': 241,
             u'HIGHBRIDGE REHABS (NELSON AVENUE)': 211,
             u'HOE AVENUE-EAST 173RD STREET': 132,
             u'HOPE GARDENS': 429,
             u'HOWARD': 1655,
             u'HOWARD AVENUE': 426,
             u'HOWARD AVENUE-PARK PLACE': 420,
             u'HUGHES APARTMENTS': 1727,
             u'HYLAN': 444,
             u'INDEPENDENCE': 805,
             u'INGERSOLL': 2947,
             u'JACKSON': 1416,
             u'JEFFERSON': 1,
             u'JENNINGS STREET': 44,
             u'JOHNSON': 2476,
             u'KING TOWERS': 775,
             u'KINGSBOROUGH 73': 2,
             u'KINGSBOROUGH 77': 41,
             u'LA GUARDIA': 1985,
             u'LA GUARDIA ADDITION': 41,
             u'LAFAYETTE': 1544,
             u'LATIMER GARDENS': 277,
             u'LAVANBURG HOMES': 299,
             u'LEHMAN': 750,
             u'LENOX ROAD-ROCKAWAY PARKWAY': 135,
             u'LEXINGTON': 281,
             u'LINCOLN': 3980,
             u'LINDEN': 3718,
             u'LONG ISLAND BAPTIST HOUSES': 946,
             u'LONGFELLOW AVENUE REHAB': 228,
             u'LOW HOUSES': 1782,
             u'LOWER EAST SIDE I INFILL': 245,
             u'LOWER EAST SIDE II': 22,
             u'LOWER EAST SIDE REHAB (GROUP 5)': 102,
             u'MACOMBS ROAD': 84,
             u'MANHATTANVILLE': 2664,
             u'MANHATTANVILLE REHAB (GROUP 2)': 22,
             u'MARBLE HILL': 1579,
             u'MARCY': 4298,
             u'MARCY AVENUE-GREENE AVENUE SITE A': 126,
             u'MARCY AVENUE-GREENE AVENUE SITE B': 111,
             u"MARINER'S HARBOR": 1573,
             u'MARKHAM GARDENS': 486,
             u'MARLBORO': 1411,
             u'MARSHALL PLAZA': 61,
             u'MCKINLEY': 428,
             u'MELROSE': 938,
             u'METRO NORTH REHAB': 2,
             u'MIDDLETOWN PLAZA': 32,
             u'MILBANK-FRAWLEY': 185,
             u'MILL BROOK': 1042,
             u'MILL BROOK EXTENSION': 457,
             u'MITCHEL': 2710,
             u'MONROE': 2912,
             u'MOORE': 921,
             u'MORRIS HEIGHTS REHAB': 150,
             u'MORRIS I': 1677,
             u'MORRIS II': 1517,
             u'MORRISANIA': 378,
             u'MORRISANIA AIR RIGHTS 42': 310,
             u'MOTT HAVEN': 601,
             u'MURPHY': 839,
             u'NEW LANE AREA': 43,
             u'NOSTRAND': 2093,
             u"O'DWYER GARDENS": 55,
             u'OCEAN HILL APARTMENTS': 237,
             u'OCEAN HILL-BROWNSVILLE': 465,
             u'OCEANSIDE-OCEAN BAY APTS': 79,
             u'PALMETTO GARDENS': 30,
             u'PARK ROCK REHAB': 339,
             u'PARKSIDE': 1434,
             u'PATTERSON': 1459,
             u'PELHAM PARKWAY': 1998,
             u'PENNSYLVANIA AVENUE-WORTMAN AVENUE': 915,
             u'PINK': 3640,
             u'POMONOK': 3131,
             u'PROSPECT PLAZA': 22,
             u'QUEENSBRIDGE NORTH': 745,
             u'QUEENSBRIDGE SOUTH': 798,
             u'RALPH AVENUE REHAB': 307,
             u'RANDALL AVENUE-BALCOM AVENUE': 111,
             u'RANGEL': 1978,
             u'RED HOOK EAST': 2261,
             u'RED HOOK WEST': 2967,
             u'REDFERN': 1294,
             u'REID APARTMENTS': 77,
             u'RICHMOND TERRACE': 1562,
             u'RIIS': 1309,
             u'RIIS II': 797,
             u'ROBINSON': 8,
             u'ROOSEVELT I': 753,
             u'ROOSEVELT II': 795,
             u'RUTGERS': 1022,
             u'RUTLAND TOWERS': 108,
             u'SACK WERN': 954,
             u"SAINT MARY'S PARK": 1973,
             u'SAMUEL (CITY)': 129,
             u'SARATOGA SQUARE': 137,
             u'SEDGWICK': 257,
             u'SEWARD PARK EXTENSION': 966,
             u'SHEEPSHEAD BAY': 2247,
             u'SMITH': 2758,
             u'SOUNDVIEW': 3368,
             u'SOUTH BEACH': 1109,
             u'SOUTH BRONX AREA (SITE 402)': 281,
             u'SOUTHERN BOULEVARD': 100,
             u'STAPLETON': 2237,
             u'STEBBINS AVENUE-HEWITT PLACE': 145,
             u'STERLING PLACE REHAB (SAINT JOHNS-STERLING)': 309,
             u'STERLING PLACE REHAB (STERLING-BUFFALO)': 430,
             u'STUYVESANT GARDENS I': 996,
             u'SUMNER': 2292,
             u'SUTTER AVENUE-UNION STREET': 231,
             u'TAFT': 1596,
             u'TAFT REHABS (REHAB PROGRAM)': 9,
             u'TAPSCOTT STREET REHAB': 383,
             u'TAYLOR STREET-WYTHE AVENUE': 494,
             u'TELLER AVENUE-EAST 166TH STREET': 280,
             u'THROGGS NECK': 3142,
             u'THROGGS NECK ADDITION': 667,
             u'TILDEN': 2909,
             u'TODT HILL': 842,
             u'TOMPKINS': 3072,
             u'TWIN PARKS EAST (SITE 9)': 102,
             u'TWIN PARKS WEST (SITE 1 & 2)': 380,
             u'TWO BRIDGES URA (SITE 7)': 248,
             u'UNION AVENUE-EAST 163RD STREET': 132,
             u'UNION AVENUE-EAST 166TH STREET': 276,
             u'UNITY PLAZA (SITES 17,24,25A)': 646,
             u'UNITY PLAZA (SITES 4-27)': 1416,
             u'UNIVERSITY AVENUE REHAB': 505,
             u'UPACA (SITE 5)': 123,
             u'UPACA (SITE 6)': 113,
             u'VAN DYKE I': 4585,
             u'VAN DYKE II': 68,
             u'VANDALIA AVENUE': 91,
             u'VLADECK': 1595,
             u'VLADECK II': 285,
             u'WAGNER': 1409,
             u'WALD': 1890,
             u'WASHINGTON HEIGHTS REHAB (GROUPS 1&2)': 5,
             u'WASHINGTON HEIGHTS REHAB PHASE III': 22,
             u'WEBSTER': 1270,
             u'WEEKSVILLE GARDENS': 941,
             u'WEST BRIGHTON I': 1847,
             u'WEST BRIGHTON II': 99,
             u'WEST FARMS ROAD REHAB': 247,
             u'WEST TREMONT AVENUE-SEDGWICK AVENUE AREA': 90,
             u'WEST TREMONT REHAB (GROUP 1)': 57,
             u'WEST TREMONT REHAB (GROUP 2)': 64,
             u'WEST TREMONT REHAB (GROUP 3)': 136,
             u'WHITMAN': 2980,
             u'WILLIAMS PLAZA': 633,
             u'WILLIAMSBURG': 2593,
             u'WOODSIDE': 834,
             u'WOODSON': 229,
             u'WSUR (SITE B) 74 WEST 92ND STREET': 11,
             u'WSUR (SITE C) 589 AMSTERDAM AVENUE': 619,
             u'WYCKOFF GARDENS': 809})

## String Columns
JURIS_DESC, PREM_TYP_DESC, PARKS_NM, HADEVELOPT
- Check Nullity Only